a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

#title{
    font-size: 1.5cm;
    text-align: center;
}



body{
    margin:0px;
    display: block;
    /*background-image: url("../Sport.jpg") ;
    background-repeat:no-repeat center fixed;
    background-repeat:no-repeat;
    padding:0;
    background-size: cover; /* version standardisée */
    background-color: rgb(45, 58, 65);
}